SiteWebForms/Connected Services/ClienteServiceReference/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57430/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57430/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57430/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjetoWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IClienteService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_New_InputMessage">
    <wsdl:part name="parameters" element="tns:New" />
  </wsdl:message>
  <wsdl:message name="IClienteService_New_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IClienteService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/FindAll" message="tns:IClienteService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/FindAllResponse" message="tns:IClienteService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Find" message="tns:IClienteService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/FindResponse" message="tns:IClienteService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="New">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/New" message="tns:IClienteService_New_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/NewResponse" message="tns:IClienteService_New_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Update" message="tns:IClienteService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/UpdateResponse" message="tns:IClienteService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/DeleteById" message="tns:IClienteService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DeleteByIdResponse" message="tns:IClienteService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Delete" message="tns:IClienteService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DeleteResponse" message="tns:IClienteService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IClienteService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New">
      <soap:operation soapAction="http://tempuri.org/IClienteService/New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:57430/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>